<!DOCTYPE html>
<html>
   <style>
      table, th, td {
      border:1px solid black;
      }
      #acoes{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: row;
      text-align: center;
      width:200px
      }
      button{
      width:80px;
      margin: auto 9px;
      }
      #td-acoes{
      width:100px
      }
   </style>
   <body>
      <h2>Tabela de Planos</h2>
      <div>
         <a href="/planos/cadastro" id="cadastrar">Adicionar novo plano</a>
      </div>
      <table style="width:100%">
         <tr>
            <th>ID</th>
            <th>Plano</th>
            <th>Preço</th>
            <th>Ações</th>
         </tr>
         <% Planos.forEach(plano => {%>
         <tr>
            <td> <%= plano.id %></td>
            <td> <%= plano.nome %></td>
            <td> <%= plano.preco %></td>
            <td id="td-acoes">
               <div id="acoes">
                 <a href="/planos/<%= plano.id %>"> <button>Editar</button></a>
                 <form method="POST" action="/planos/delete" style="display: inline;" onsubmit="confirmarDelecao(event,this)">
                  <input type="hidden" name="id" value="<%= plano.id %>">
                  <button class="button"">Delete</button>
              </form>
               </div>
            </td>
         </tr>
         <%})%>
      </table>
   </body>
</html>
